#yt{
    width: 10%;
    height: 30px;
    margin-left: 20px;
}

#hm{
    border: 0;
    display: flex;
    transition: all .3s;
    margin-top: 20px;
    width: 10%;
    height: 30px;
    justify-content: space-around;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    
}
#hm:hover{
    width: 20%;
    height: 40px;
    background-color: grey;
}
#shr{
    border: 0;
    display: flex;
    transition: all .3s;
    margin-top: 20px;
    width: 10%;
    height: 30px;
    justify-content: space-around;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}
#shr:hover{
    width: 20%;
    height: 40px;
    background-color: grey;
}

#su{
    border: 0;
    display: flex;
    transition: all .3s;
    margin-top: 20px;
    width: 13%;
    height: 30px;
    justify-content: space-around;
    text-align: center;
    background-color: white;
    border-radius: 10px; 
}
#su:hover{
    width: 20%;
    height: 40px;
    background-color: grey;
}
#hr{
    width: 15%;
    height: auto;
    margin-right: 30px;
}
#lib{
    border: 0;
    border: 0;
    display: flex;
    transition: all .3s;
    margin-top: 20px;
    width: 10%;
    height: 30px;
    justify-content: space-around;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    
}
#lib:hover{
    position: relative;
    background-color: grey;
    width: 15%;
    height: 40px;
    
}
#ht{
    border: 0;
    display: flex;
    transition: all .3s;
    margin-top: 20px;
    width: 10%;
    height: 30px;
    justify-content: space-around;
    text-align: center;
    background-color: white;
    border-radius: 10px;
}
#ht:hover{
    position: relative;
    background-color: grey;
    width: 15%;
    height: 40px;
}
 #wac{
    border: 0;
    display: flex;
    transition: all .3s;
    margin-top: 20px;
    width: 10%;
    height: 30px;
    justify-content: space-around;
    text-align: center;
    background-color: white;
    border-radius: 10px;
 }
 #wac:hover{
    position: relative;
    background-color: grey;
    width: 15%;
    height: 40px;
 }
 #lk{
    border: 0;
    display: flex;
    transition: all .3s;
    margin-top: 20px;
    width: 10%;
    height: 30px;
    justify-content: space-around;
    text-align: center;
    background-color: white;
    border-radius: 10px;
 }
 #lk:hover{
    position: relative;
    background-color: grey;
    width: 15%;
    height: 40px; 
 }